.content {
    display: flex;

    &--text {
        flex-grow: 1;

        .content__col:nth-child(1) {
            flex-shrink: 0;
            padding-right: 1rem;
        }
        .content__col:nth-child(2) {
            flex-grow: 1;
            padding-right: 1rem;
        }
    }

    &__name {
        margin: -1.9rem 0 0 -1.15rem;
        font-size: 28pt;
        font-family: 'cmu serif', serif;
        font-weight: bold;
        font-style: italic;
        word-spacing: -0.12em;

        /* Adds a shadow to the name text which can be altered easily by
         * JavaScript.
         */
    /*
        --shadow-color: transparent;
        @supports (--css: 0) {
            text-shadow:
                0.5px 0.5px 0 #fff,
                1px 1px 0 #fff,
                1.5px 1.5px 0 #fff,
                2px 2px 0 var(--shadow-color),
                2.5px 2.5px 0 var(--shadow-color),
                3px 3px 0 var(--shadow-color);
        }
        */

        /* `table-caption' causes the size of the name box to shrink to fit its
         * contents rather than fill its container when the name is wrapped on
         * narrow screens.
         *
         * The `text-indent' property below aligns the first and last names when
         * they are wrapped on narrow screens. The font's metrics cause the "W"
         * in my surname to appear indented, and these rules correct for this.
         */
        &-plate {
            display: inline-block;
            padding: 0.5rem 1.3rem 0 0.6rem;
            background: #fff;
            text-indent: 0.4rem;
        }
    }

    &__profession {
        margin: 0.5rem 0 0;
        text-transform: uppercase;
        font-size: 80%;
        letter-spacing: 0.05em;
        word-spacing: 0.1em;
    }

    &__description {
        margin: 1.7rem 0 0;
        font-family: 'cmu serif', serif;
        font-style: italic;
        font-size: 13pt;

        & + & {
            margin-top: 0.6em;
        }

        a {
            font-size: 90%;
        }
    }
}
