@media (max-width: 62rem) {
    .content--text {
        flex-direction: column;

        .content__col:nth-child(2) {
            margin-right: -2rem;
        }
    }
}

@media (max-width: 38rem),
(max-width: 52rem) and (max-height: 38rem) and (orientation: landscape) {
    .layout {
        &__background {
            padding: 2rem 2rem 0;
        }
        &__content {
            padding: 0 5rem 3rem;
        }
    }
}

@media (max-width: 38rem) {
    .content {
        &__name-plate {
            display: table-caption;
        }
        &__description {
            span {
                display: block;
                height: 0;
                visibility: hidden;
            }
        }
    }

    .refresher {
        margin-right: -1.59rem;
    }
}

@media (max-width: 28rem) {
    :root {
        font-size: 80%;
    }
}
