@font-face {
    font-family:'droid sans';
    src:url('static/fonts/droid-sans.eot?') format('eot'),
        url('static/fonts/droid-sans.woff') format('woff'),
        url('static/fonts/droid-sans.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family:'droid sans';
    src:url('static/fonts/droid-sans-bold.eot?') format('eot'),
        url('static/fonts/droid-sans-bold.woff') format('woff'),
        url('static/fonts/droid-sans-bold.ttf') format('truetype');
    font-weight:bold;
    font-style:normal;
}
