@font-face {
	font-family:'droid sans';
	src:url('/assets/droid-sans.eot?') format('eot'),
		url('/assets/droid-sans.woff') format('woff'),
		url('/assets/droid-sans.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
}
@font-face {
	font-family:'droid sans';
	src:url('/assets/droid-sans-bold.eot?') format('eot'),
		url('/assets/droid-sans-bold.woff') format('woff'),
		url('/assets/droid-sans-bold.ttf') format('truetype');
	font-weight:bold;
	font-style:normal;
}

body {
	margin:0;
	font-family:'droid sans',sans-serif;
	text-align:justify;
}
header {
	margin:0 0 1.6em;
	padding:1.6em 0;
	color:#fff;
	background:#69af98;
	text-align:center;
}
div {
	margin:0 auto 1em;
	padding:0 1em 1em;
	box-sizing:border-box;
	width:36%;
	min-width:8cm;
}
h1 {
	margin:0;
	letter-spacing:-1px;
}

@media (max-width:calc(9cm)) {
	div {
		width:100%;
		min-width:0;
	}
}
